<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="cogwheel">
      <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>
  <%= link_to games_path, class: "navbar-brand" do %>
  <i class="fas fa-search navbar-button
  <%= 'selected' if request.path == games_path || params[:action] == "show"%>
  "></i>
  <% end %>
  <button class="navbar-button
  <%= 'selected' if request.path == dashboard_path%>
  "
  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-users-cog"></i>
      </button>
</div>
