<div class="container">
  <h1>This is the dashboard</h1>
    <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active" id="btn-profile">Your Profile</a>
     </li>
     <li>
       <a href="#" class="tab-underlined" id="btn-kids">Your Kids </a>
    </li>
  </ul>
  <div id="dash-tab1">
    <h2>Your Profile</h2>
      <p>Username : <%= @user.username %></p>
      <p>Email : <%= @user.email %></p>
      <p> Member since : <%= @user.created_at.strftime("%d-%B-%Y") %> </p>

      <p> Number of reviews : <%= @user.user_reviews.count %></p>
  </div>

  <div class="toggle-display" id="dash-tab2">
  <h2> Your Kids </h2>
  <% @user.kids.each do |kid| %>
    <p> Name : <%= kid.name %> </p>
    <p> Age : <%= (Date.today - kid.birthdate).to_i/365 %></p>
    <%= link_to edit_kid_path(kid) do  %>
    <i class="far fa-edit"></i>
    <% end %>
    <%= link_to kid_path(kid), method: :delete, data: { confirm: "Delete #{kid.name}?" } do %>
    <i class="fas fa-user-times"></i>
    <% end %>
    <hr>
  <% end %>
    <br>
  <%= link_to("+ Add a kid", new_kid_path) %>
  </div>

</div>
