<div class="container">
  <h1>dashboard</h1>
    <ul class="list-inline tabs-underlined">
     <li>
       <a href="#" class="tab-underlined active" id="btn-kids">Your Kids </a>
    </li>
    <li>
      <a href="#" class="tab-underlined" id="btn-profile">Your Profile</a>
     </li>

  </ul>

  <div id="dash-tab2">
  <h2> Your Kids </h2>
  <% @user.kids.each do |kid| %>
    <p> Name : <%= kid.name %> </p>
    <p> Age : <%= kid.age %></p>
    <div class="recommandations">
        <% kid.recommended_games.each do |game| %>
          <%= link_to game_path(game), class: "index-links" do %>
            <div class="index-card-game">
              <%= cl_image_tag game.photo.key %>
              <div class="index-card-game-infos">
               <h2> <%= game.name %> </h2>
               <p> <%= game.description.truncate_words(14) %></p>
               <% if game.user_reviews.count > 0 %>
                <% sum = 0 %>
                <% game.user_reviews.each do |review| %>
                <% sum += review.rating %>
                <% end %>
                <p><%= average_p_note = (sum / game.user_reviews.count).to_f %> ⭐️</p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <%= link_to edit_kid_path(kid) do  %>
    <i class="far fa-edit"></i>
    <% end %>
    <%= link_to kid_path(kid), method: :delete, data: { confirm: "Delete #{kid.name}?" } do %>
    <i class="fas fa-user-times"></i>
    <% end %>
    <hr>
  <% end %>
    <br>
  <%= link_to("+ Add a kid", new_kid_path) %>
  </div>

  <div class="toggle-display" id="dash-tab1">
    <h2>Your Profile</h2>
      <p>Username : <%= @user.username %></p>
      <p>Email : <%= @user.email %></p>
      <p> Member since : <%= @user.created_at.strftime("%d-%B-%Y") %> </p>

      <p> Number of reviews : <%= @user.user_reviews.count %></p>
  </div>



</div>
