<div class="banner">
  <div class="banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com//PgToaHfQjq0/1900x900);">
    <%= image_tag "gameaware.png", class: "gameawarelogo" %>
  </div>
</div>
<div class="container">
  <div class="search-homepage">
    <%= simple_form_for :search, url: games_path, method: :get do |f| %>
      <div class="search-form-control form-group rounded">
        <%= f.input :query, class:"form-control string required", id:"search_query", label: false %>
        <%= f.submit "Search", class:"btn btn-search" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h1></h1>
  <div class="index-text">
  <p><em>Search results</em></p>
  </div>
  <% @games.each do |game| %>
    <%= link_to game_path(game), class: "index-links" do %>
      <div class="index-card-game">
        <% if game.cover_url.nil? %>
          <%= image_tag("https://images.igdb.com/igdb/image/upload/t_cover_big/nocover_qhhlj6.jpg") %>
        <% else %>
          <%= image_tag game.cover_url %>
        <% end %>
        <div class="index-card-game-infos">
         <h2> <%= game.name %> </h2>
         <p> <%= game.description.truncate_words(14) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
