<div class="show-banner">
  <div class="show-banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= cl_image_path @game.photo.key %>);">
  </div>
</div>
<div class="container">
  <div class="show-header">
    <%= link_to games_path do %>
      <i class="fas fa-arrow-left" id="back-arrow"></i>
    <% end %>
  </div>
    <h1 class="h1-show"><%= @game.name %></h1>
    <div class="show-card-game">
      <div class="show-card-game-infos">
        <h2 class="show-game-title"> Suitable for kids (y/o) </h2>
        <div class="rating-block">
          <div class="esrb-rating">
            <button type="button" class="modal-button" data-toggle="modal" data-target="#ESRBModal">
             <i class="fas fa-info-circle"></i>
            </button>
            <% if @rating_category.name == "Mature 17+"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = 17 %></p>
              <% elsif @rating_category.name == "Everyone"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = 3 %></p>
              <% elsif @rating_category.name == "Rating Pending"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = "N/C" %></p>
              <% elsif @rating_category.name == "Everyone 10+"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = 10 %></p>
              <% elsif @rating_category.name == "Adults Only 18+"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = 18 %></p>
              <% elsif @rating_category.name == "Teen"%>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age = 13 %></p>
              <% else %>
              <p> <span>ESRB</span> </p> <p> <%= esrb_age == "N/C" %></p>
            <% end %>
          </div>
          <div class="parents-rating">
          <button type="button" class="modal-button" data-toggle="modal" data-target="#Parentsmodal">
           <i class="fas fa-info-circle"></i>
          </button>
            <% if @game.user_reviews.count > 0 %>
              <% sum = 0 %>
              <% @game.user_reviews.each do |review| %>
              <% sum += review.age %>
              <% end %>
              <p><span>Parents</span> </p> <p><%= average_p_rating = sum / @game.user_reviews.count %> </p>

              <% else %>
              <% average_p_rating = 0 %>
              <p> No parents reviews </p>
            <% end %>
          </div>
          <div class="game-aware-rating">
            <button type="button" class="modal-button" data-toggle="modal" data-target="#GAModal">
             <i class="fas fa-info-circle"></i>
            </button>
            <% if esrb_age == "N/C" && @game.user_reviews.count == 0 %>
              <% game_aware_rating = "N/C" %>
            <% elsif esrb_age == "N/C" %>
            <%= game_aware_rating = average_p_rating  %>
            <% else %>
              <p><span>Game-Aware</span> </p> <p><%= game_aware_rating = ((average_p_rating + esrb_age) / 2).round() %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <hr>
  <div class="kids-recommandation">
    <% if @user %>
      <% if @user.kids.count > 0 %>
        <% @user.kids.each do |kid| %>
        <% kid_age = ((Date.today - kid.birthdate).to_i/365).round %>
          <div class="kid-line
          <% if game_aware_rating == "N/C" %>
            <%= 'orangebg' %>
          <% else %>
            <%if (kid_age) < (game_aware_rating - 1) %>
                <%= 'redbg' %>
            <% elsif kid_age >= game_aware_rating %>  %>
                <%= 'greenbg' %>
            <% else %>
                <%= 'orangebg' %>
            <% end %>
          <% end %>
          ">
            <p> <span class="kid-name"><%= kid.name %> </span>
            <span class="kid-age"> Age : <%= kid_age %> </span>
            <span class="kid-reco"> <% if game_aware_rating == "N/C" %>
            😐
            <% else %>
              <% if kid_age >= game_aware_rating %>
                <i class="far fa-thumbs-up"></i>
                <% elsif (kid_age) < (game_aware_rating - 1)%>
                <i class="far fa-thumbs-down"></i>
                <% else %>
                <i class="fas fa-exclamation-circle"></i>
              <% end %>
            <% end %>
          </span> </p>
        </div>
        <% end %>
      <% else %>
        <%= link_to("+ Add a kid", new_kid_path) %>
      <% end %>
    <% end %>
  </div>

  <hr>
<div class="show-infos">
  <h2 id="show-infos-h2">What is this game about ?</h2>
  <p><%= @game.description %></p>

  <hr>

   <details>
    <summary>Why is it rated <strong> <%= esrb_age %>+ </strong> by ESRB ?</summary>

    <p><%= @game.rating_summary %></p>
  </details>

  <hr>
  <details>
    <summary>What is the <strong> <%= @rating_category.name %> </strong> rating about ?</summary>
    <div class="rating-category">
    <p><%= @rating_category.description %></p>
    <%= image_tag "esrb/#{@rating_category.rating}.svg", height: '64', id: "game-img"%>
  </div>
  </details>

  <hr>

  <details>
    <summary>What could be offensive in this game ?</summary>
    <ul>
      <% @game.esrb_content_descriptors.each do |descriptor| %>
        <li><%= descriptor.name %></li>
      <% end %>
    </ul>
  </details>

  <hr>

  <details>
    <summary>Online features to consider</summary>
    <ul>
      <% @game.esrb_interactive_elements.each do |element| %>
        <li><%= element.name %></li>
      <% end %>
    </ul>
  </details>
  <hr>
  </div>

  <h4>Game comments</h4>
    <%= render "user_reviews/index", user_review: @user_review %>
  <hr>
  <%= render ("user_reviews/new"), user_review: @user_review %>
</div>



<!-- Modal -->
<div class="modal fade" id="ESRBModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ESRB</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ESRB is the abbreviation for <em><strong>E</strong>ntertainment <strong>S</strong>oftware <strong>R</strong>ating <strong>B</strong>oard</em>, a self-regulatory body for the interactive entertainment software industry established in 1994 by the Entertainment Software Association (ESA). ESRB independently applies and enforces ratings, advertising guidelines, and online privacy principles adopted by the computer and video game industry.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="GAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game-Aware</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Game-Aware
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Parentsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Parents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Parents
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
