<div class="container">
    <%= link_to games_path do %>
      <i class="fas fa-caret-left"></i>
    <% end %>
    <div class="index-card-game">
     <%= cl_image_tag @game.photo.key %>
      <div class="index-card-game-infos">
        <h2> <%= @game.name %> - age rating </h2>
        <div class="rating-block">
          <div class="esrb-rating">
            <% if @rating_category.name == "Mature 17+"%>
              <p>esrb : <%= esrb_age = 17 %></p> 
              <% elsif @rating_category.name == "Everyone"%>
              <p>esrb : <%= esrb_age = 3 %></p> 
              <% elsif @rating_category.name == "Rating Pending"%>
              <p>esrb : <%= esrb_age = "N/C" %></p> 
              <% elsif @rating_category.name == "Everyone 10+"%>
              <p>esrb : <%= esrb_age = 10 %></p>
              <% elsif @rating_category.name == "Adults Only 18+"%>
              <p>esrb : <%= esrb_age = 18 %></p>
              <% elsif @rating_category.name == "Teen"%>
              <p>esrb : <%= esrb_age = 13 %></p>
              <% else %>
              <p>esrb : <%= esrb_age == "N/C" %></p>
            <% end %>
          </div>
          <div class="parents-rating">
            <% if @game.user_reviews.count > 0 %>
              <% sum = 0 %>
              <% @game.user_reviews.each do |review| %>
              <% sum += review.age %>
              <% end %>
              <p> Parents : <%= average_p_rating = sum / @game.user_reviews.count %> </p>
              
              <% else %>
              <% average_p_rating = 0 %>
              <p> No parents reviews </p>
            <% end %>
          </div>
          <div class="game-aware-rating">
            <% if esrb_age == "N/C" && @game.user_reviews.count == 0 %>
              <% game_aware_rating = "N/C" %>
            <% elsif esrb_age == "N/C" %>
            <%= game_aware_rating = average_p_rating  %>
            <% else %>
              <p>Game-Aware : <%= game_aware_rating = ((average_p_rating + esrb_age) / 2).round() %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  

  <hr>
  <div class="kids-recommandation">
    <% if @user %>
      <% if @user.kids.count > 0 %>
        <% @user.kids.each do |kid| %>
        <% kid_age = ((Date.today - kid.birthdate).to_i/365).round %>
          <div class="kid-line
          <% if game_aware_rating == "N/C" %>
            <%= 'orangebg' %>
          <% else %>      
            <%if (kid_age) < (game_aware_rating - 1) %>
                <%= 'redbg' %>
            <% elsif kid_age >= game_aware_rating %>  %>
                <%= 'greenbg' %>
            <% else %>
                <%= 'orangebg' %>
            <% end %>
          <% end %> 
          ">
            <p> <span class="kid-name"><%= kid.name %> </span>
            <span class="kid-age"> Age : <%= kid_age %> </span>
            <span class="kid-reco"> <% if game_aware_rating == "N/C" %>
            😐
            <% else %>
              <% if kid_age >= game_aware_rating %>
                <i class="far fa-thumbs-up"></i>
                <% elsif (kid_age) < (game_aware_rating - 1)%>
                <i class="far fa-thumbs-down"></i>
                <% else %>
                <i class="fas fa-exclamation-circle"></i>
              <% end %>
            <% end %>
          </span> </p>
        </div>
        <% end %>
      <% else %>
        <%= link_to("+ Add a kid", new_kid_path) %>
      <% end %>
    <% end %>
  </div>

  <hr>

  <h2>Description</h2>
  <p><%= @game.description %></p>

  <hr>

  <h3>Rating summary</h3>
   <details>
    <summary>Show summary</summary>
    <p><%= @game.rating_summary %></p>
  </details>

  <hr>

  <h4>Rating category</h4>
  <%= image_tag "esrb/#{@rating_category.rating}.svg", height: '128' %>
  <details>
    <summary>Show details</summary>
    <p><%= @rating_category.name %></p>
    <p><%= @rating_category.description %></p>
  </details>

  <hr>

  <h5>Content descriptors</h5>
  <details>
    <summary>Show descriptors</summary>
    <ul>
      <% @game.esrb_content_descriptors.each do |descriptor| %>
        <li><%= descriptor.name %></li>
      <% end %>
    </ul>
  </details>

  <hr>

  <h5>Interactive elements</h5>
  <details>
    <summary>Show elements</summary>
    <ul>
      <% @game.esrb_interactive_elements.each do |element| %>
        <li><%= element.name %></li>
      <% end %>
    </ul>
  </details>
  <hr>

  <h3>Game comments</h3>
    <%= render "user_reviews/index", user_review: @user_review %>
  <hr>
  <%= render ("user_reviews/new"), user_review: @user_review %>
</div>
