<div class="container">
  <div class="index-form">
    <ul>
        <% @game.user_reviews.each do |review| %>
        <div class="index-list-form">
        <li>
          <p>Recommended age: <%= review.age %></p>
          <p>Title: <%= review.title%></p>
          <p>Description: <%= review.description %></p>
          <p><%= review.rating %>/5</p>
        </li>
        <% if user_signed_in? %>
          <% if policy(review).edit? %>
              <%= link_to edit_user_review_path(review) do  %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
          <% if policy(review).destroy? %>
              <%= link_to user_review_path(review), method: :delete, data: { confirm: "Remove review?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  </div>
</div>


